<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" style="width:100%; height:auto; align-self:center;" src="../images/logo_full_large.png">
        </div>
        <div class="col-md-8">
            <h2>Welcome to VAQO!</h2>

            <p>VAQO is an interactive tool that helps you learn relational algebra by executing them on a real database, optimizing using heuristics and converting between SQL and Relational Algebra. Here is an overview of the main functions:</p>
            <!--<p><Strong>Load: </Strong>In a hurry? You can load our pre-existing stock database and perform operations on it.</p> 
            <p><Strong>Connect: </Strong>You can connect to an external database through ODBC and run operation on your own dataset.</p> -->
            <p><strong>Run: </strong>You can run relational algebra queries on a database in real-time and view the query results along with a tree-depiction of the query.</p>
            <p><strong>Optimize: </strong>This tool applies optimization heuristics to relational algebra queries to give you the most optimal format to execute it. It also shows you the before and after in the form of a tree for intuitive visualization.</p>
            <p><strong>Convert: </strong>You can convert queries between Relational Algebra and SQL using this functionality.</p>
            <p>For additional help, please refer to the <a href="#/userGuide">User Guide</a> or <a href="#/faq">FAQ</a> section.</p>
            

        </div>

    </div>

    <div class="row">
        
        
        <div class="col-md-4">
            <h2>Project</h2>
            <p>VAQO was developed as a University of Cincinnati Computer Science Senior Design project, by Chris Broderick, Don Nguyen and Sumeet Ranu.
               The main goal of the tool was to provide Dr. Karen Davis, the project advisor and professor, a better way to teach relational algebra concepts in her database classes.
            </p>
            <p>The complexity and importance of relational algebra in different fields is the main reason this project was pursued. 
               There weren't any central tools to run, optimize and convert queries with visualizations. This project brought all of those functions together into one tool to aid in teaching and learning.  
            </p>

            <p>Project source can be found on the <a href="https://github.com/sumeetranu/VAQO" target="_blank">VAQO Github repository</a>.</p>

            <p>To contact or connect with our team, please visit the <a href="#/contact">Contact</a> section.</p>
        </div>
        <div class="col-md-8">
            <img class="img-responsive" style="width:100%; height:auto; align-self:center;" src="../images/run-optimize-convert.gif">
        </div>

    </div>

    <div class="row">
        <h2>Project Poster </h2>
        <p>Here is the VAQO project poster for the 2017 Computer Science Senior Design Expo.</p>
        <!--<object style="width:100%; height:500px; align-self:center;" data="../images/poster.pdf">-->
        <img class="img-responsive" style="width:100%; height:auto; align-self:center;" src="../images/poster.png">
        
    </div>
    <div class="row"><p></p></div>

    <!-- Team Member Profiles -->

    <!--<div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">

            <h3>Chris Broderick
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:brodercg@mail.uc.edu" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-4">

            <h3>Don Nguyen
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:nguyend6@mail.uc.edu" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-4">

            <h3>Sumeet Ranu
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:ranusk@mail.uc.edu" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

    </div>-->

    
</div>
<!-- /.container -->
