<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-sm fa-envelope"></i> Contact
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row" style="align-content: center">

        <div class="col-sm-3">
            <img class="img-responsive" src="images/Chris_headshot.jpg"> 

            <h3>Chris Broderick
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:brodercg@mail.uc.edu" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/christopher-broderick-623728104/" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/Don_headshot.jpg">

            <h3>Don Nguyen
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:nguyend6@mail.uc.edu" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/don-nguyen-9a27a387/" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/Sumeet_headshot.jpg">

            <h3>Sumeet Ranu
                <small>Developer</small>
            </h3>
            <p>Computer Science Class of 2017</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:ranusk@mail.uc.edu" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/sumeetranu" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/Karen_headshot.jpg">

            <h3>Dr. Karen Davis
                <small>Advisor</small>
            </h3>
            <p>Professor</p>
            <p>University of Cincinnati</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social email-link"><a href="mailto:davikc@mail.uc.edu" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Email"><i
                        class="fa fa-envelope-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/kcdtravel" target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                
            </ul>
        </div>

    </div>

</div><!-- /.container -->