
<div class="col-sm-6" style="padding-left:0px;"> 
    <strong><center>Relational Algebra</center></strong>
    <br>
    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>
    </div>
    <div class = "box">
        <p class="muted no-space">1   [Enter relational algebra query here]</p> 
        <p class="muted no-space">2</p>
        <p class="muted no-space">3</p>
        <p class="muted no-space">4</p>
        <p class="muted no-space">5</p>
        <p class="muted no-space">6</p>
        <p class="muted no-space">7</p>
        <p class="muted no-space">8</p>
        <p class="muted no-space">9</p>
        <p class="muted no-space">10</p>
        <p class="muted no-space">11</p>
        <p class="muted no-space">12</p>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-red">Convert to SQL</button></div>
    <br>
</div>

<div class="col-sm-6" style="padding-left:0px;"> 
    <strong><center>SQL</center></strong>
    <br>
    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>
    </div>
    <div class = "box">
        <p class="muted no-space">1   [Enter SQL query here]</p> 
        <p class="muted no-space">2</p>
        <p class="muted no-space">3</p>
        <p class="muted no-space">4</p>
        <p class="muted no-space">5</p>
        <p class="muted no-space">6</p>
        <p class="muted no-space">7</p>
        <p class="muted no-space">8</p>
        <p class="muted no-space">9</p>
        <p class="muted no-space">10</p>
        <p class="muted no-space">11</p>
        <p class="muted no-space">12</p>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-red">Convert to Relational Algebra</button></div>
    <br>
</div>