<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group">

                <div class="panel blue-panel">
                    <div class="panel-heading toggle-heading heading-blue" data-toggle="collapse" data-target="#faq1">
                        <h4 class="panel-title">How do I view the contents of the test database?</h4>
                    </div>
                    <div class="panel-body collapse" id="faq1">
                            Once inside the Workspace view, if you selected to use the test database, 
                            you can view the contents of the test database by clicking on the Database 
                            button on the right side of the screen. 
                    </div>
                </div>
                <br>
                <div class="panel blue-panel">
                    <div class="panel-heading toggle-heading" data-toggle="collapse" data-target="#faq4">
                        <h4 class="panel-title">How can I optimize a query I converted from SQL to Relational Algebra?</h4>
                    </div>
                    <div class="panel-body collapse" id="faq4">
                           There isn't a function to optimize a query from the convert tab, but you can copy the query from the convert tab and paste it into the optimize tab to achieve the same results.
                    </div>
                </div>
                <br>
                <div class="panel blue-panel">
                    <div class="panel-heading toggle-heading" data-toggle="collapse" data-target="#faq5">
                        <h4 class="panel-title">How can I run a query I converted from SQL to Relational Algebra?</h4>
                    </div>
                    <div class="panel-body collapse" id="faq5">
                           There isn't a function to run a query from the convert tab, but you can copy the query from the convert tab and paste it into the run tab to achieve the same results.
                    </div>
                </div>
                <br>
                <div class="panel blue-panel">
                    <div class="panel-heading toggle-heading" data-toggle="collapse" data-target="#faq6">
                        <h4 class="panel-title">Can I run or optimize a SQL query?</h4>
                    </div>
                    <div class="panel-body collapse" id="faq6">
                           There isn't built-in functionality to run or optimize SQL queries, but the same results can be achieved by converting the SQL query to  relational algebra in the convert tab, and pasting it into the desired tab (run or optimize) to get results.
                    </div>
                </div>
                
            </div>
            <p>For additional help, please refer to the <a href="#/userGuide">User Guide</a> section.</p>
        </div>

    </div>

</div>
<!-- /.container -->