<div class="section">

    <div class="container">
        

        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="../images/logo_full_large.png" style="height:25vh; width:auto"></img>
            </div>
            
        </div>
        <!-- /.row -->

        <div class="row"><p>  </p><p>  </p></div>

        <div class="row">
            <center>
                    
                <div class="btn big-box-red" style="height:30vh; width:45%; margin-right:10px; white-space:normal; border:none;" >
                   
                        <h2>Welcome to VAQO!</h2> 
                        
                        <p style="color:black">VAQO is an interactive tool that helps you learn relational algebra by executing queries on default or custom databases, optimizing using heuristics and converting between SQL and Relational Algebra.</p>
                        <p style="color:black">Check out the <a href="#/userGuide"><i class="fa fa-sm fa-file-text"></i> User Guide</a> 
                            and <a href="#/faq"><i class="fa fa-sm fa-question"></i> FAQ</a>
                        or continue to the <a href="#/workspace">Workspace <i class="fa fa-sm fa-arrow-right"></i></a></p>
                </div>
                
                <a href="/#/workspace">
                    <button class="btn big-btn-red" style="height:30vh; width:45%; margin-right:10px;">Workspace</button>
                </a>
            
            </center>
        </div>

        <!--<div class="row">
            <br>
            <center>
                <img class="img-responsive" style="width:auto; height:45vh; align-self:center;" src="../images/run-optimize-convert.gif">
            </center>
        </div>-->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

