<div class="section">

    <div class="container">
        

        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="../images/logo_full_large.png" style="height:25vh; width:auto"></img>
            </div>
            <br>
                <a href="/#/workspace">
                    <button class="btn" style="height:200px; width:48%; background-color:#e7e7e7e7;">Use Test Database</button>
                </a>
                <a href="/#/connectDb">
                    <button class="btn" style="height:200px; width:48%; background-color:#e7e7e7e7">Connect External Database</button>
                </a>
            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

