
<div class="col-sm-6" style="padding-left:0px;"> 
    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>
    </div>
    <div class = "box">
        <p class="muted no-space">1   [Enter relational algebra query here]</p> 
        <p class="muted no-space">2</p>
        <p class="muted no-space">3</p>
        <p class="muted no-space">4</p>
        <p class="muted no-space">5</p>
        <p class="muted no-space">6</p>
        <p class="muted no-space">7</p>
        <p class="muted no-space">8</p>
        <p class="muted no-space">9</p>
        <p class="muted no-space">10</p>
        <p class="muted no-space">11</p>
        <p class="muted no-space">12</p>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-red"><i class="fa fa-play">Optimize</i></button></div>
    <br>
</div>

<div class="col-sm-6" style="height:400px">
    <h4 style="text-align:center" class="red-text">Results</h4>
    <div>
        <!--<p style="vertical-align:center">Run a query to see the results.</p>-->

        <strong>Optimized query</strong>
        <p>Optimized query string will go here.</p>
        
        <br>

        <div style="height:120px; width:45%; float:left">
            <strong>Original tree</strong>
            <div class="box">
            Original graph goes here.
            </div>
        </div>

        <div style="height:120px; width:45%; float:right">
            <strong>Optimized tree</strong>
            <div class="box">
            Optimized graph goes here.
            </div>
        </div>

    </div>
</div>
