
<div class="col-sm-6" style="padding-left:0px;"> 

    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>
    </div>
    <div class = "box">
        <p class="muted no-space">1   [Enter relational algebra query here]</p> 
        <p class="muted no-space">2</p>
        <p class="muted no-space">3</p>
        <p class="muted no-space">4</p>
        <p class="muted no-space">5</p>
        <p class="muted no-space">6</p>
        <p class="muted no-space">7</p>
        <p class="muted no-space">8</p>
        <p class="muted no-space">9</p>
        <p class="muted no-space">10</p>
        <p class="muted no-space">11</p>
        <p class="muted no-space">12</p>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-red"><i class="fa fa-play">Run</i></button></div>
    <br>
</div>

<div class="col-sm-6" style="height:100%">
    <h4 style="text-align:center; height:5%" class="red-text">Results</h4>
        <!--<p style="vertical-align:center">Run a query to see the results.</p>-->

        <table style="height:20% !important">
            <tr>
                <th>Attr1</th>
                <th>Attr2</th>
                <th>Attr3</th>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
        </table>
        
        <br>

        
            <div id="mynetwork" style="height:60% !important"></div>
            <script type="text/javascript">
                // create an array with nodes
                var nodes = new vis.DataSet([
                    {id: 1, label: 'Node 1'},
                    {id: 2, label: 'Node 2'},
                    {id: 3, label: 'Node 3'},
                    {id: 4, label: 'Node 4'},
                    {id: 5, label: 'Node 5'},
                    {id: 6, label: 'Node 6'}
                ]);

                // create an array with edges
                var edges = new vis.DataSet([
                    {from: 1, to: 3},
                    {from: 1, to: 2},
                    {from: 2, to: 4},
                    {from: 2, to: 5},
                    {from: 2, to: 6},
                ]);

                // create a network
                var container = document.getElementById('mynetwork');
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {
                    nodes: {
                        color:{background:'#3D5273'},
                        font:{color:'white'},
                        icon: {
                            face: 'FontAwesome',
                            code: undefined,
                            size: 50,  //50,
                            color:'#2B7CE9'
                        }
                    },
                    layout: {
                        hierarchical: {
                            direction: "UD",
                            sortMethod: "directed"
                        }
                    },
                    interaction: {
                        dragNodes :false,
                        navigationButtons:true,
                        keyboard:true
                    },
                    physics: {
                        enabled: false
                    }//,
                    // configure: {
                    //     filter: function (option, path) {
                    //         if (path.indexOf('hierarchical') !== -1) {
                    //             return true;
                    //         }
                    //         return false;
                    //     },
                    //     showButton:false
                    // }
                };
                var network = new vis.Network(container, data, options);
            </script>
            
</div>
