
<div class="col-sm-6" style="padding-left:0px;"> 

    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <!--<button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>-->
    </div>
    <div class = "box">
        <!-- CodeMirror -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
        <textarea placeholder="[Enter relational algebra queryy]" class="codearea" id="raCodearea" style="width:100%; height:100%; display:none"></textarea>
        
        <script>
	        //window.onload = function () {
                var myTextArea = document.getElementById("raCodearea");
                
                // RA Mode from ReLax
                CodeMirror.defineMode('relationalAlgebra', function () {
                    var keywords = [
                        'pi', 'sigma', 'rho', 'tau', '<-', '->', 'intersect', 'union', 'except', '/', '-', '\\\\', 'x', 'cross join', 'join',
                        'inner join', 'natural join', 'left join', 'right join', 'left outer join', 'right outer join',
                        'left semi join', 'right semi join', 'anti join', 'anti semi join', 'and', 'or', 'xor'
                    ];
                    var keywordsMath = ['π', 'σ', 'ρ', 'τ', '←', '→', '∩', '∪', '÷', '-', '⨯', '⨝', '⟕', '⟖', '⟗', '⋉', '⋊', '▷'];
                    var operators = ['<-', '->', '>=', '<=', '=', '∧', '∨', '⊻', '⊕', '≠', '=', '¬', '>', '<', '≥', '≤'];
                    var matchAny = function (stream, array, consume, successorPattern) {
                        for (var i = 0; i < array.length; i++) {
                            var needle;
                            if (!successorPattern)
                                needle = array[i];
                            else
                                needle = new RegExp('^' + array[i] + successorPattern);

                            if (stream.match(needle, consume))
                                return true;
                        }
                        return false;
                    };
                    var seperators = '([\\(\\)\[\\]\{\\}, \\.\\t]|$)';

                    return {
                        startState: function () {
                            return {
                                inBlockComment: false
                            };
                        },
                        token: function (stream, state) {
                            if (state.inBlockComment) {
                                if (stream.match(/.*?\*\//, true))
                                    state.inBlockComment = false;
                                else
                                    stream.match(/.*/, true);
                                return 'comment';
                            }
                            else if (!state.inBlockComment && stream.match(/^\/\*.*/, true)) {
                                state.inBlockComment = true;
                                return 'comment';
                            }

                            else if (state.inInlineRelation) {
                                if (stream.match(/.*?}/, true))
                                    state.inInlineRelation = false;
                                else
                                    stream.match(/.*/, true);
                                return 'inlineRelation';
                            }
                            else if (stream.match(/^{/, true)) {
                                state.inInlineRelation = true;
                                return 'inlineRelation';
                            }

                            else if (stream.match(/^--[\t ]/, true)) {
                                stream.skipToEnd();
                                return 'comment';
                            }
                            else if (stream.match(/^\/\*.*?$/, true)) {
                                return 'comment';
                            }
                            else if (matchAny(stream, keywordsMath, true)) {
                                return 'keyword math'; // needed for the correct font
                            }
                            else if (matchAny(stream, keywords, true, seperators)) {
                                return 'keyword';
                            }
                            else if (matchAny(stream, operators, true)) {
                                return 'operator math';
                            }
                            else if (stream.match(/^\[[0-9]+]/, true)) {
                                return 'attribute';
                            }
                            else if (stream.match(/^[0-9]+(\.[0-9]+)?/, true)) {
                                return 'number';
                            }
                            else if (stream.match(/\^'[^']*'/i, true)) {
                                return 'string';
                            }
                            else if (stream.match(/\^[a-z]+\.[a-z]*/i, true)) {
                                return 'qualified-column';
                            }
                            else if (stream.match(/^[\(\)\[]\{},]/i, true)) {
                                return 'bracket';
                            }
                            else if (stream.match(/^[a-z][a-z0-9\.]*/i, true)) {
                                return 'word';
                            }
                            else {
                                stream.next();
                                return 'else';
                            }

                        }
                    };
                });

                var minLines = 10;
                var startingValue = '';
                for (var i = 0; i < minLines; i++) {
                    startingValue += '\n';
                }

                var editor = CodeMirror.fromTextArea(document.getElementById('raCodearea'), 
                    {
                        value: myTextArea.innerHTML, 
                        mode:  "relationalAlgebra", 
                        lineNumbers: true,
                        gutters: ["CodeMirror-linenumbers"]
                    } 
                );
                editor.setValue(startingValue);
            //};  
        </script>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-red"><i class="fa fa-play">Run</i></button></div>
    <br>
</div>

<div class="col-sm-6" style="height:100%">
    <h4 style="text-align:center; height:5%" class="red-text">Results</h4>
        <!--<p style="vertical-align:center">Run a query to see the results.</p>-->

        <table style="height:20% !important">
            <tr>
                <th>Attr1</th>
                <th>Attr2</th>
                <th>Attr3</th>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
        </table>
        
        <br>

        
            <div id="mynetwork" style="height:60% !important"></div>
            <script type="text/javascript">
                // create an array with nodes
                var nodes = new vis.DataSet([
                    {id: 1, label: 'Node 1', title: 'Node 1'},
                    {id: 2, label: 'Node 2', title: 'Node 2'},
                    {id: 3, label: 'Node 3', title: 'Node 3'},
                    {id: 4, label: 'Node 4', title: 'Node 4'},
                    {id: 5, label: 'Node 5', title: 'Node 5'},
                    {id: 6, label: 'Node 6', title: 'Node 6'}
                ]);

                // create an array with edges
                var edges = new vis.DataSet([
                    {from: 1, to: 3},
                    {from: 1, to: 2},
                    {from: 2, to: 4},
                    {from: 2, to: 5},
                    {from: 2, to: 6}
                ]);

                // create a network
                var container = document.getElementById('mynetwork');
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {
                    nodes: {
                        color:{background:'#3D5273'},
                        font:{color:'white'},
                        shape:'box',
                        font:{size:18, color:'white'}
                    },
                    layout: {
                        hierarchical: {
                            direction: "UD",
                            sortMethod: "directed"
                        }
                    },
                    interaction: {
                        dragNodes :false,
                        navigationButtons:true,
                        keyboard:true
                    },
                    physics: {
                        enabled: false
                    }//,
                    // configure: {
                    //     filter: function (option, path) {
                    //         if (path.indexOf('hierarchical') !== -1) {
                    //             return true;
                    //         }
                    //         return false;
                    //     },
                    //     showButton:false
                    // }
                };
                var network = new vis.Network(container, data, options);
            </script>
            
</div>
