
<div class="col-sm-8" style="padding-left:0px;"> 

    <div class = "toolbar">
        <button class="btn btn-compact">π</button>
        <button class="btn btn-compact">σ</button>
        <button class="btn btn-compact">ρ</button>
        <button class="btn btn-compact">←</button>
        <button class="btn btn-compact">τ</button>
        <button class="btn btn-compact">γ</button>
        <button class="btn btn-compact">∧</button>
        <button class="btn btn-compact">∨</button>
        <button class="btn btn-compact">¬</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">≠</button>
        <button class="btn btn-compact">≥</button>
        <button class="btn btn-compact">≤</button>
        <button class="btn btn-compact">∩</button>
        <button class="btn btn-compact">∪</button>
        <button class="btn btn-compact">÷</button>
        <button class="btn btn-compact">-</button>
        <button class="btn btn-compact">⨯</button>
        <button class="btn btn-compact">⨝</button>
        <button class="btn btn-compact">⟕</button>
        <button class="btn btn-compact">⟖</button>
        <button class="btn btn-compact">⟗</button>
        <button class="btn btn-compact">⋉</button>
        <button class="btn btn-compact">⋊</button>
        <button class="btn btn-compact">▷</button>
        <button class="btn btn-compact">=</button>
        <button class="btn btn-compact">--</button>
        <button class="btn btn-compact">/*</button>
        <button class="btn btn-compact">{}</button>
    </div>
    <div class = "box">
        <p class="muted no-space">1   [Enter relational algebra query here]</p> 
        <p class="muted no-space">2</p>
        <p class="muted no-space">3</p>
        <p class="muted no-space">4</p>
        <p class="muted no-space">5</p>
        <p class="muted no-space">6</p>
        <p class="muted no-space">7</p>
        <p class="muted no-space">8</p>
        <p class="muted no-space">9</p>
        <p class="muted no-space">10</p>
        <p class="muted no-space">11</p>
        <p class="muted no-space">12</p>
    </div>
    <br>
    <div style="text-align:right"><button class="btn btn-default btn-red"><i class="fa fa-play">Run</i></button></div>
    <br>
</div>

<div class="col-sm-4" style="height:400px">
    <h4 style="text-align:center" class="red-text">Results</h4>
    <div>
        <!--<p style="vertical-align:center">Run a query to see the results.</p>-->

        <table>
            <tr>
                <th>Attr1</th>
                <th>Attr2</th>
                <th>Attr3</th>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
            </tr>
        </table>
        
        <br>

        <div class="box" style="height:120px">
            Graph form goes here.
        </div>

    </div>
</div>
