<div class="container full-container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Workspace</h1>
            
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Workspace</li>
            </ol>
            
    	</div>
	</div>
    
	<div class="row"style="height:auto">
        <div id="workspaceTabs" class="col-lg-12" style="height:100%">
            <ul class="nav nav-pills">
                <li class="active">
                    <a style="cursor:default" data-target="#run" data-toggle="tab"><i class="fa fa-lg fa-caret-right"></i> Run</a>
                </li>
                <li>
                    <a style="cursor:default" data-target="#optimize" data-toggle="tab"><i class="fa fa-lg fa-cogs"></i> Optimize</a>
                </li>
                <li>
                    <a style="cursor:default" data-target="#convert" data-toggle="tab"><i class="fa fa-lg fa-exchange"></i> Convert</a>
                </li>

                <li style="float:right"><button class="btn btn-red btn-info" data-toggle="modal" data-target="#schemaModal" ng-click="database()"><i class="fa fa-database"> Database</i></button></li>
            </ul>

            <!-- Modal -->
            <div id="schemaModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Table Schema</h4>
                  </div>
                  <div class="modal-body" style="max-height: 70vh; overflow-y:scroll;">
                      <div ng-if="loadingSchema">
                            <center>
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> 
                                <p>Loading schema...</p>
                            </center>
                      </div>

                      <div ng-if="!loadingSchema">
                            <p>Click on a Table name to toggle its schema.</p>
                      <!-- TODO: Add toggle arrows, add loading symbol -->
                       <div ng-repeat = "table in schema_data">
                        <h4 class="toggle-heading" data-toggle="collapse" data-target="#{{table.tableId}}" ng-click="theading{{table.tableId}}=!theading{{table.tableId}}">
                            <!--<i class="fa" ng-class="(theading{{table.tableId}}) ? 'fa-caret-down': 'fa-caret-right'"></i>-->
                            {{table.tableName}}
                        </h4>
                        <div class="collapse" id="{{table.tableId}}">
                            <table class="table">
                                    <thead>
                                        <tr class="schemaTr">
                                            <th>Column Name</th>
                                            <th>Data Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat = "column in table.tableColumns" class="schemaTr">
                                            <td>{{column.COLUMN_NAME}}</td>
                                            <td>{{column.DATA_TYPE}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                      </div>

                      
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({container: 'body', html: true});   
            });
            </script>

            <div class="tab-content clearfix" style="height:70vh">
                <!-- ########################################################### RUN TAB ########################################################### -->
                <div class="tab-pane active" id="run">
                    
                    <div class="col-sm-6" style="padding-left:0px;"> 

                        <div class = "toolbar">
                            <span class="btn-compact" href="#" data-toggle="tooltip" title="<bold>Phrase:    </bold> pi <br /><bold>Function: </bold> projection ">π</span>
                            <span class="btn-compact" href="#" data-toggle="tooltip" title="<bold>Phrase:    </bold> sigma <br /><bold>Function: </bold> TODO ">σ</span>
                            <span class="btn-compact" href="#" data-toggle="tooltip" title="<bold>Phrase:    </bold> rho <br /><bold>Function: </bold> TODO ">ρ</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> TODO <br /><bold>Function: </bold> TODO ">←</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> and <br /><bold>Function: </bold> TODO ">∧</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> or <br /><bold>Function: </bold> TODO ">∨</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> not <br /><bold>Function: </bold> TODO ">¬</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> equals <br /><bold>Function: </bold> TODO ">=</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> not equals <br /><bold>Function: </bold> TODO ">≠</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> TODO <br /><bold>Function: </bold> TODO ">≥</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> TODO <br /><bold>Function: </bold> TODO ">≤</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> intersect <br /><bold>Function: </bold> TODO ">∩</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> union <br /><bold>Function: </bold> TODO ">∪</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> TODO <br /><bold>Function: </bold> TODO ">-</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> cross join <br /><bold>Function: </bold> TODO ">⨯</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> natural join <br /><bold>Function: </bold> TODO ">⨝</span>
                            <span class="btn-compact" data-toggle="tooltip" title="<bold>Phrase:    </bold> TODO <br /><bold>Function: </bold> TODO ">=</span>
                            <span class="btn-compact"></span>
                            <span class="btn-compact"></span>
                            <span class="btn-compact"></span>
                            <span class="btn-compact"></span>
                            <span class="btn btn-compact" data-toggle="modal" data-target="#editorHelpModal">
                                <i class="fa fa-question-circle"></i>
                            </span>
                        </div>

                        <!-- RUN Editor Help Modal -->
                        <div id="editorHelpModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Editor Help</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Here are some tips for using this editor:</p>
                                        <ul>
                                            <li>This editor will highlight relational algebra syntax.</li>
                                            <li>You can copy and paste the symbols in the toolbar into the editor. E.g., "π" for a projection.</li>
                                            <li>You can also hover over a symbol to see its corresponding phrase and type that in the editor. E.g., "pi" for "π".</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class = "box">
                            <!-- CodeMirror -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>

                            <script src="http://codemirror.net/lib/codemirror.js"></script>
                            <script src="http://codemirror.net/mode/scheme/scheme.js"></script>
                            <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
                            <script src="http://codemirror.net/mode/xml/xml.js"></script>
                            <script src="https://rawgithub.com/angular-ui/ui-codemirror/bower/ui-codemirror.min.js"></script>

                            <!--<textarea placeholder="[Enter relational algebra queryy]" class="codearea" id="raCodearea" ng-model="run.raCodeArea" style="width:100%; height:100%; display:none"></textarea>-->
                            <!--<textarea ui-codemirror="run.editorHTML" id="run.editorHTML" ng-model="run.codeHTML"></textarea>-->
                            
                            <textarea ui-codemirror="cmOption" ng-model="cmModel.string" id="raCodearea" class="codearea" style="width:100%; height:100%; display:none"></textarea>
                            <!--<p ng-bind="cmModel.string"></p>-->

                        </div>
                        <br>
                        <div style="text-align:right"><button class="btn btn-red" ng-click="runQuery()"><i class="fa fa-play">Run</i></button></div>
                        <br>
                    </div>

                    <div class="col-sm-6" style="height:100%">
                        <div ng-if="!showGraph" ng-class="{'errorClass' : runMessageError}" class="panel panel-blue">
                            <div class="panel-body">
                                <p ng-bind="runMessage"></p>
                            </div>
                        </div>
                        <div ng-if="showGraph" style = "width: 100%; height: 30%; overflow:auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat = "header in data_headers">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in data_results">
                                        <td ng-repeat="header in data_headers">
                                            {{row[header]}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br>

                        <!-- Visjs graph - graph connection here, but data and options can be modified in the run directive -->
                        <div ng-show="showTree" id="mynetwork" class="runGraph"></div>
                        <script type="text/javascript">
                            var container = document.getElementById('mynetwork');
                        </script>  
                    </div>
                </div>

                <!-- ########################################################### OPTIMIZE TAB ########################################################### -->
                <div class="tab-pane" id="optimize">
                    <div class="col-sm-6" style="padding-left:0px;"> 
                        <div class = "toolbar">
                            <span class="btn btn-compact" title="pi">π</span>
                            <span class="btn btn-compact" title="sigma">σ</span>
                            <span class="btn btn-compact" title="rho">ρ</span>
                            <span class="btn btn-compact" title="none">←</span>
                            <span class="btn btn-compact" title="and">∧</span>
                            <span class="btn btn-compact" title="or">∨</span>
                            <span class="btn btn-compact" title="not">¬</span>
                            <span class="btn btn-compact" title="equals">=</span>
                            <span class="btn btn-compact" title="not equals">≠</span>
                            <span class="btn btn-compact" title="greater or equals">≥</span>
                            <span class="btn btn-compact" title="lesser or equals">≤</span>
                            <span class="btn btn-compact" title="intersect">∩</span>
                            <span class="btn btn-compact" title="union">∪</span>
                            <span class="btn btn-compact" title="subtraction">-</span>
                            <span class="btn btn-compact" title="cross join">⨯</span>
                            <span class="btn btn-compact" title="natural join">⨝</span>
                            <span class="btn btn-compact" title="assignment">=</span>
                            <span class="btn btn-compact" title="single-line comment">--</span>
                        </div>
                        

                        <div class = "box">
                            <!-- CodeMirror -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                            <!--<textarea placeholder="[Enter relational algebra queryy]" class="codearea" id="optimizeCodearea" style="width:100%; height:100%; display:none"></textarea>-->
                            <textarea ui-codemirror="cmOptionOptimize" ng-model="cmModelOptimize.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>
                            <!--<p ng-bind="cmModelOptimize.string"></p>-->
                            

                        </div>


                        <br>
                        <div style="text-align:right"><button class="btn btn-red" ng-click="optimizeQuery()"><i class="fa fa-play">Optimize</i></button></div>
                        <br>
                    </div>

                    <div class="col-sm-6" style="height:100%">
                            <strong>Optimized query</strong>
                            <div class="panel panel-blue">
                                <div class="panel-body">
                                    <p ng-bind="optimizedQueryString"></p>
                                </div>
                            </div>
                            <br>

                            <div ng-show="showGraphs" style="height:75%; width:50%; float:left;">
                                <strong>Original tree</strong>
                                <div id="originalNetwork" style="height:100% !important"></div>
                                <script type="text/javascript">
                                    var originalContainer = document.getElementById('originalNetwork');
                                </script>
                            </div>

                            <div ng-show="showGraphs" style="height:75%; width:50%; float:right;">
                                <strong>Optimized tree</strong>
                                <div id="optimizedNetwork" style="height:100% !important"></div>
                                <script type="text/javascript">
                                    var optimizedContainer = document.getElementById('optimizedNetwork');
                                </script>
                            </div>

                        
                    </div>

                </div>

                <!-- ########################################################### CONVERT TAB ########################################################### -->
                <div class="tab-pane" id="convert">
                <!-- Relational Algebra Box ########################################################### -->    
                <div class="col-sm-6" style="padding-left:0px;"> 
                    <strong><center>Relational Algebra</center></strong>
                    <br>
                    <div class = "toolbar">
                            <span class="btn btn-compact" title="pi">π</span>
                            <span class="btn btn-compact" title="sigma">σ</span>
                            <span class="btn btn-compact" title="rho">ρ</span>
                            <span class="btn btn-compact" title="none">←</span>
                            <span class="btn btn-compact" title="and">∧</span>
                            <span class="btn btn-compact" title="or">∨</span>
                            <span class="btn btn-compact" title="not">¬</span>
                            <span class="btn btn-compact" title="equals">=</span>
                            <span class="btn btn-compact" title="not equals">≠</span>
                            <span class="btn btn-compact" title="greater or equals">≥</span>
                            <span class="btn btn-compact" title="lesser or equals">≤</span>
                            <span class="btn btn-compact" title="intersect">∩</span>
                            <span class="btn btn-compact" title="union">∪</span>
                            <span class="btn btn-compact" title="subtraction">-</span>
                            <span class="btn btn-compact" title="cross join">⨯</span>
                            <span class="btn btn-compact" title="natural join">⨝</span>
                            <span class="btn btn-compact" title="assignment">=</span>
                            <span class="btn btn-compact" title="single-line comment">--</span>
                    </div>
                    

                    <div class = "box">
                        <!-- CodeMirror -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                        <textarea ui-codemirror="cmOptionConvertRa" ng-model="cmModelConvertRa.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>
                        
                    </div>
                    <br>
                    <div style="text-align:center"><button class="btn btn-red" ng-click="convertToSql()">Convert to SQL</button></div>
                    <br>
                    <div class="panel panel-default panel-blue">
                        <div class="panel-body">
                            <p ng-bind="convertedSqlString"></p>
                        </div>
                    </div>
                </div>

                <!-- SQL Box ########################################################### -->    

                <div class="col-sm-6" style="padding-left:0px;"> 
                    <strong><center>SQL</center></strong>
                    <br>
                    <div class = "toolbar">
                            <span class="btn btn-compact" title="pi">π</span>
                            <span class="btn btn-compact" title="sigma">σ</span>
                            <span class="btn btn-compact" title="rho">ρ</span>
                            <span class="btn btn-compact" title="none">←</span>
                            <span class="btn btn-compact" title="and">∧</span>
                            <span class="btn btn-compact" title="or">∨</span>
                            <span class="btn btn-compact" title="not">¬</span>
                            <span class="btn btn-compact" title="equals">=</span>
                            <span class="btn btn-compact" title="not equals">≠</span>
                            <span class="btn btn-compact" title="greater or equals">≥</span>
                            <span class="btn btn-compact" title="lesser or equals">≤</span>
                            <span class="btn btn-compact" title="intersect">∩</span>
                            <span class="btn btn-compact" title="union">∪</span>
                            <span class="btn btn-compact" title="subtraction">-</span>
                            <span class="btn btn-compact" title="cross join">⨯</span>
                            <span class="btn btn-compact" title="natural join">⨝</span>
                            <span class="btn btn-compact" title="assignment">=</span>
                            <span class="btn btn-compact" title="single-line comment">--</span>
                    </div>
                    
                    <div class = "box">
                        <!-- CodeMirror -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                        <textarea ui-codemirror="cmOptionConvertSql" ng-model="cmModelConvertSql.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>                        
                    </div>

                    <br>
                    <div style="text-align:center"><button class="btn btn-red" ng-click="convertToRelAlg()">Convert to Relational Algebra</button></div>
                    <br>
                    <div class="panel panel-default panel-blue">
                        <div class="panel-body">
                            <p ng-bind="convertedRelString"></p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>	
  
    </div>
</div>      
