<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Workspace
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Workspace</li>
            </ol>
            
    	</div>
	</div>

	<div class="row">
        <div class="col-lg-12">
			<ul class="nav nav-tabs" ng-controller="TabsCtrl">
                <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab">
                    <a href="{{tab.link}}" data-target="{{tab.bootLink}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a>
                </li>
            </ul>

        </div>	
  
    </div>
</div>      
