<div class="container full-container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Workspace</h1>
            
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Workspace</li>
            </ol>
            
    	</div>
	</div>
    
	<div class="row"style="height:auto">
        <div id="workspaceTabs" class="col-lg-12" style="height:100%">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-target="#run" data-toggle="tab">Run</a>
                </li>
                <li>
                    <a data-target="#optimize" data-toggle="tab">Optimize</a>
                </li>
                <li>
                    <a data-target="#convert" data-toggle="tab">Convert</a>
                </li>

                <li style="float:right"><button class="btn btn-red" ng-click="database()"><i class="fa fa-wrench">Database</i></button></li>
            </ul>

            <div class="tab-content clearfix" style="height:70vh">
                <!-- ########################################################### RUN TAB ########################################################### -->
                <div class="tab-pane active" id="run">
                    
                    <div class="col-sm-6" style="padding-left:0px;"> 

                        <div class = "toolbar">
                            <span class="btn btn-compact">π</span>
                            <span class="btn btn-compact">σ</span>
                            <span class="btn btn-compact">ρ</span>
                            <span class="btn btn-compact">←</span>
                            <span class="btn btn-compact">∧</span>
                            <span class="btn btn-compact">∨</span>
                            <span class="btn btn-compact">¬</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">≠</span>
                            <span class="btn btn-compact">≥</span>
                            <span class="btn btn-compact">≤</span>
                            <span class="btn btn-compact">∩</span>
                            <span class="btn btn-compact">∪</span>
                            <span class="btn btn-compact">-</span>
                            <span class="btn btn-compact">⨯</span>
                            <span class="btn btn-compact">⨝</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">--</span>
                            
                        </div>
                        <div class = "box">
                            <!-- CodeMirror -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>

                            <script src="http://codemirror.net/lib/codemirror.js"></script>
                            <script src="http://codemirror.net/mode/scheme/scheme.js"></script>
                            <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
                            <script src="http://codemirror.net/mode/xml/xml.js"></script>
                            <script src="https://rawgithub.com/angular-ui/ui-codemirror/bower/ui-codemirror.min.js"></script>

                            <!--<textarea placeholder="[Enter relational algebra queryy]" class="codearea" id="raCodearea" ng-model="run.raCodeArea" style="width:100%; height:100%; display:none"></textarea>-->
                            <!--<textarea ui-codemirror="run.editorHTML" id="run.editorHTML" ng-model="run.codeHTML"></textarea>-->
                            
                            <textarea ui-codemirror="cmOption" ng-model="cmModel.string" id="raCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>
                            <!--<p ng-bind="cmModel.string"></p>-->

                        </div>
                        <br>
                        <div style="text-align:right"><button class="btn btn-red" ng-click="runQuery()"><i class="fa fa-play">Run</i></button></div>
                        <br>
                    </div>

                    <div class="col-sm-6" style="height:100%">
                        <!--<h4 style="text-align:center" class="red-text">Results</h4>-->
                        <!--<p style="vertical-align:center">Run a query to see the results.</p>-->
                        <p ng-if="!showGraph">Run a query to view results. </p>
                        <div style = "width: 100%; height: 30%; overflow:auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat = "header in data_headers">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in data_results">
                                        <td ng-repeat="header in data_headers">
                                            {{row[header]}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br>

                        <!-- Visjs graph - graph connection here, but data and options can be modified in the run directive -->
                        <div ng-show="showGraph" id="mynetwork" style="height:63% !important;"></div>
                        <script type="text/javascript">
                            var container = document.getElementById('mynetwork');
                        </script>  
                    </div>
                </div>

                <!-- ########################################################### OPTIMIZE TAB ########################################################### -->
                <div class="tab-pane" id="optimize">
                    <div class="col-sm-6" style="padding-left:0px;"> 
                        <div class = "toolbar">
                            <span class="btn btn-compact">π</span>
                            <span class="btn btn-compact">σ</span>
                            <span class="btn btn-compact">ρ</span>
                            <span class="btn btn-compact">←</span>
                            <span class="btn btn-compact">∧</span>
                            <span class="btn btn-compact">∨</span>
                            <span class="btn btn-compact">¬</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">≠</span>
                            <span class="btn btn-compact">≥</span>
                            <span class="btn btn-compact">≤</span>
                            <span class="btn btn-compact">∩</span>
                            <span class="btn btn-compact">∪</span>
                            <span class="btn btn-compact">-</span>
                            <span class="btn btn-compact">⨯</span>
                            <span class="btn btn-compact">⨝</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">--</span>
                            
                        </div>
                        

                        <div class = "box">
                            <!-- CodeMirror -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                            <!--<textarea placeholder="[Enter relational algebra queryy]" class="codearea" id="optimizeCodearea" style="width:100%; height:100%; display:none"></textarea>-->
                            <textarea ui-codemirror="cmOptionOptimize" ng-model="cmModelOptimize.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>
                            <!--<p ng-bind="cmModelOptimize.string"></p>-->
                            

                        </div>


                        <br>
                        <div style="text-align:right"><button class="btn btn-red" ng-click="optimizeQuery()"><i class="fa fa-play">Optimize</i></button></div>
                        <br>
                    </div>

                    <div class="col-sm-6" style="height:100%">


                        

                        <h4 style="text-align:center" class="red-text">Results</h4>
                        
                            <!--<p style="vertical-align:center">Run a query to see the results.</p>-->

                            <strong>Optimized query</strong>
                            <p ng-bind="optimizedQueryString"></p>
                            
                            <br>

                            <div style="height:120px; width:45%; float:left">
                                <strong>Original tree</strong>
                                <div ng-show="showGraphs" id="originalNetwork" style="height:100% !important"></div>
                                <script type="text/javascript">
                                    var originalContainer = document.getElementById('originalNetwork');
                                </script>
                            </div>

                            <div style="height:120px; width:45%; float:right">
                                <strong>Optimized tree</strong>
                                <div ng-show="showGraphs" id="optimizedNetwork" style="height:100% !important"></div>
                                <script type="text/javascript">
                                    var optimizedContainer = document.getElementById('optimizedNetwork');
                                </script>
                            </div>

                        
                    </div>

                </div>

                <!-- ########################################################### CONVERT TAB ########################################################### -->
                <div class="tab-pane" id="convert">
                <!-- Relational Algebra Box ########################################################### -->    
                <div class="col-sm-6" style="padding-left:0px;"> 
                    <strong><center>Relational Algebra</center></strong>
                    <br>
                    <div class = "toolbar">
                        <span class="btn btn-compact">π</span>
                            <span class="btn btn-compact">σ</span>
                            <span class="btn btn-compact">ρ</span>
                            <span class="btn btn-compact">←</span>
                            <span class="btn btn-compact">∧</span>
                            <span class="btn btn-compact">∨</span>
                            <span class="btn btn-compact">¬</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">≠</span>
                            <span class="btn btn-compact">≥</span>
                            <span class="btn btn-compact">≤</span>
                            <span class="btn btn-compact">∩</span>
                            <span class="btn btn-compact">∪</span>
                            <span class="btn btn-compact">-</span>
                            <span class="btn btn-compact">⨯</span>
                            <span class="btn btn-compact">⨝</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">--</span>
                    </div>
                    

                    <div class = "box">
                        <!-- CodeMirror -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                        <textarea ui-codemirror="cmOptionConvertRa" ng-model="cmModelConvertRa.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>
                        
                    </div>
                    <br>
                    <div style="text-align:right"><button class="btn btn-red" ng-click="convertToSql()">Convert to SQL</button></div>
                    <br>
                </div>

                <!-- SQL Box ########################################################### -->    

                <div class="col-sm-6" style="padding-left:0px;"> 
                    <strong><center>SQL</center></strong>
                    <br>
                    <div class = "toolbar">
                        <span class="btn btn-compact">π</span>
                            <span class="btn btn-compact">σ</span>
                            <span class="btn btn-compact">ρ</span>
                            <span class="btn btn-compact">←</span>
                            <span class="btn btn-compact">∧</span>
                            <span class="btn btn-compact">∨</span>
                            <span class="btn btn-compact">¬</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">≠</span>
                            <span class="btn btn-compact">≥</span>
                            <span class="btn btn-compact">≤</span>
                            <span class="btn btn-compact">∩</span>
                            <span class="btn btn-compact">∪</span>
                            <span class="btn btn-compact">-</span>
                            <span class="btn btn-compact">⨯</span>
                            <span class="btn btn-compact">⨝</span>
                            <span class="btn btn-compact">=</span>
                            <span class="btn btn-compact">--</span>
                    </div>
                    
                    <div class = "box">
                        <!-- CodeMirror -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/xml/xml.js"></script>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.css">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/mode/javascript/javascript.min.js"></script>
                        <textarea ui-codemirror="cmOptionConvertSql" ng-model="cmModelConvertSql.string" id="optimizeCodearea" class="codearea" ui-refresh='refreshCodemirror' style="width:100%; height:100%; display:none"></textarea>                        
                    </div>

                    <br>
                    <div style="text-align:right"><button class="btn btn-red" ng-click="convertToRelAlg()">Convert to Relational Algebra</button></div>
                    <br>
                </div>

                </div>
            </div>
        </div>	
  
    </div>
</div>      
